* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#333;
}

a {
	color:#005580;
	text-decoration:none;
}

a:hover {
	text-decoration:none; 
	border-bottom:1px dotted;
}

.disqus-count-text { display:none; }
.addthis_toolbox a{border:none;}
.goLeft { float:left; }

.container {
	width: 940px;
	margin: 0 auto;
}


/*HEADER*/
header {
	background: #222;
	height: 40px;
	padding: 5px 0;
}


header .brand {
	color: #fff;
	font-size: 2em;
	font-weight: bold;
	margin-right: 25px;
}

span.subtitle{margin-top:0;text-shadow:1px 1px 1px #CCC;}

.search_form {
	margin-top: 5px;
	float:right;
}

.search_form .field {
	padding: 5px;
}

.search_form .button {
	display: none;
}

/*CONTAINER*/

.content {
	background-color: #fff;
	padding: 15px;
}

.post {
	margin-bottom: 25px;
}

h1 a, h2 a {
	color: #666;
}

div.main_container{float:left;background-color:White;border-top:2px solid #000000;max-width:600px;}
div.right_container{float: left;padding-left: 15px;height:800px;background-color:White;border-top:2px solid #000000;width:210px;margin-left: 15px;}
div.right_container  h2{margin-bottom: 5px;}
div.right_container ul{padding:0px;margin-top: 5px;}
div.right_container ul li{list-style:none;}
div.page{padding:0px 20px 20px;}

/*HOME*/
#banner {
	padding: 25px;
	text-align: center;
	margin-bottom: 50px
}

#banner h1 {
	font-size: 72px;
}

#banner p {
	font-size: 32px;
}

.banner-links {
	margin-top: 50px;
}

div.index_meta{display:inline-block;width:600px;height:30px;padding:3px 0 0 3px;}
div.index_meta div {float:left;margin-right:35px;padding-left:20px;}
span.index_meta{font-size:13px;}
div.post_date{background:url("/images/dateIcon.gif") no-repeat scroll left 5px transparent;}
div.post_author{background:url("/images/authorIcon.gif") no-repeat scroll left 5px transparent;}
div.post_comments_count{background:url("/images/commentsIcon.gif") no-repeat scroll left 5px transparent;}
div.post_content p{margin:0px 0px 20px;}

/*POST*/
h1.post_title{margin:20px 0px 0px;}
div.post_content h2{text-shadow:2px 2px 2px #ddd;}
div.post_comments_count a{color:#333}
div.post_tags ul {padding:0px;}
div.post_tags ul li {display:inline;margin:5px;} 
div#dsq-subscribe{display:none;}
div#comments{padding:0 15px 0 15px;}
div.post_content h2 {margin-bottom:5px;}
img.post_img {width:550px;margin:25px 0px 25px;border: solid 6px white !important;box-shadow:1px 1px 13px #666;margin-bottom: 10px;border-left-width: 10px;border-right-width: 10px;border-bottom-width: 10px;border-top-width: 10px;}
p.post_img_subtitle {font-size:12px;margin-top:-20px !important;text-align:center;}
p.quote {border-left-style:solid; border-left-color: black; margin-left: 40px !important; padding-left: 5px; border-left-width: 1px;}

/*FOOTER*/
footer{display:inline-block;margin:0 25px 0 25px;padding:0 25px 45px;min-width:740px}
h3.widget_title{font-weight:bold;}
div#all_categories{float:left; width:200px;}
div#all_categories ul {padding:0px;}
div#all_categories ul li{list-style:none;}
div#all_tags ul {padding:0px;}
div#all_tags ul li {display:inline;margin:5px;}

#sidebar-links a {
	color: #A8A8A8;
	font-weight: bold;
}
