<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>		
		<link rel="stylesheet" href="/css/site.css" type="text/css"/>				
		<title>{{ page.title }}</title>		
	</head>	
	<body>
		<div id="page">
			<header>			
				<h1 class="title"><a href="/">TEAMROOM</a></h1>				
				<form method="GET" action="http://www.google.com/search" class="search_form">
			        <input type="hidden" name="ie" value="UTF-8">
			        <input type="hidden" name="oe" value="UTF-8">
			        <input class="field" type="text" name="q" size="7" maxlength="255" value="" placeholder="Pesquisar...">
			        <input class="button" type="submit" name="btnG" value="Go" title="Search">
			        <input type="hidden" name="domains" value="team-room.github.com">
			        <input type="hidden" name="sitesearch" value="">
			        <input type="hidden" name="sitesearch" value="team-room.github.com">
			    </form>
			</header>	
			<div class="container">
				<div class="main_container">	
					<div id="content">
						<div class="page">
							{{content}}									
						</div>
					</div>								
				</div>
				<div class="right_container">
					<h2>TEAM ON DOJO</h2>
					<ul>
						<li>
							<a href="/blog/team-on-dojo-caixa-eletronico">30/06/2012 » Caixa Eletronico</a>
						</li>
					</ul>
				</div>
			</div>
			<footer>
					
			</footer>				
		</div>				
		<a href="http://github.com/team-room/team-room.github.com" target="_none"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://a248.e.akamai.net/camo.github.com/5d21241b64dc708fcbb701f68f72f41e9f1fadd6/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>		
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-24989932-3']);
			_gaq.push(['_trackPageview']);
			
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</body>
</html>
